  .container{
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    width: fit-content;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: grey;
    border-radius: 5%;
  }
.main {
    text-align: center;
}
h4 {
    font-size: 45px;
    color: blueviolet;
}
.logo {
    text-align: center;
}
.logo i{
    border-radius: 50%;
    font-size: 50px;
}
.card img{
    border-radius: 50%;
    border: 10px solid violet;
    width: 200px;
    position: relative;
}
  /* On mouse-over, add a deeper shadow */
  .container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.hope{
    display: flex;
    background-color: blueviolet;
    color: bisque;
    margin-top: 20px;
}
h3 {
    padding-left: 10px;
    padding-right: 10px;
}


/* Deuxieme card */

.card1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  border-radius: 5%;
  width: 400px;
  text-align: center;
}
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card1 img {
  width: 400px;
  border-radius: 15%;
}
.card1 .main2{
  color: black;
  font-style: normal;
}
.marche_please {
  display: flex;
  background-color: orange;
}
.marche_please .box1 {
  padding-left: 35px;
  padding-right: 40px;
}
.marche_please .box2 {
  padding-left: 40px;
  padding-right: 40px;
}
.marche_please .box3 {
  padding-right: 35px;
  padding-left: 40px;
}



/* Troisième Card */

